<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089021861653-j4etvnodiu9g074ks4et8j3sjsdnlaof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089021861653-j4etvnodiu9g074ks4et8j3sjsdnlaof</string>
	<key>API_KEY</key>
	<string>AIzaSyApEyI8-ylW0bDihxdHGt774fMS7r1hMgo</string>
	<key>GCM_SENDER_ID</key>
	<string>1089021861653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fire.swu.kakaoFirebase</string>
	<key>PROJECT_ID</key>
	<string>kakaologin-b6613</string>
	<key>STORAGE_BUCKET</key>
	<string>kakaologin-b6613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089021861653:ios:5e234f51a2a468a5c3931c</string>
	<key>DATABASE_URL</key>
	<string>https://kakaologin-b6613.firebaseio.com</string>
</dict>
</plist>